[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
[submodule "external/libarchive"]
	path = external/libarchive
	url = git@github.com:libarchive/libarchive.git
