[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
[submodule "external/cglm"]
	path = external/cglm
	url = git@github.com:recp/cglm.git
[submodule "external/GmSSL"]
	path = external/GmSSL
	url = git@github.com:guanzhi/GmSSL.git
[submodule "external/zlib"]
	path = external/zlib
	url = git@github.com:madler/zlib.git
